<!DOCTYPE hibernate-configuration SYSTEM
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<property name="connection.url">jdbc:mysql://localhost:3306/motivity</property>
<property name="connection.user">root</property>
<property name="connection.password">Sathvika@0120</property>
<property name="show_sql">true</property>
<property name="dialet">org.hibernate.dialect.MYSQL8Dialect</property>
<property name="hbm2ddl.auto">update</property>
<mapping class="com.motivity.Employer"/>
<mapping class="com.motivity.Employee"/>
</session-factory>
</hibernate-configuration>
